<% if resource.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" data-turbo-cache="false">
    <ul class="mb-0">
      <% resource.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
