<div class="d-flex justify-content-between p-3 bg-light border-bottom">
  <h1 class="pt-1 h4">Invited User</h1>
  <div class="text-end">
    <%= link_to "Back to user invitations", users_invitations_path, class: "btn btn-outline-secondary" %>
  </div>
</div>

<div class="mt-4 px-3">
  <%= render 'user_company' %>
</div>
